body {
    color: white;
    background-color: #333333;
}

#myNav {
    border-radius: 0px;
    margin-bottom: 0px;
}

.navbarLogo {
    height: 65px;
    width: 80px;
}

.navbarProfileIcon {
    height: 35px;
    width: 40px;
}

/*
.navbarText {
    color: white;
}*/

@keyframes pulse_animation {
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
}

.pulse:hover {
	animation-name: pulse_animation;
	animation-duration: 1000ms;
	transform-origin: 70% 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.grow {
    transition: all 0.5s ease-out;
}

.grow:hover {
    transform:scale(1.3);
    text-decoration: none;
    z-index: 10;
}

#profileIconDiv {
    background-image: url('../src/imgs/djIconGray.png');
    background-size: cover;
    background-position: center;
    height: 35px;
    width: 40px;
}

#profileIconDiv:hover {
    background-image: url('../src/imgs/djIconWhite.png');
}

#gearIconDiv {
    background-image: url('../src/imgs/settingsGearGray.png');
    background-size: cover;
    background-position: center;
    height: 35px;
    width: 40px;
}

#gearIconDiv:hover {
    background-image: url('../src/imgs/settingsGearWhite.png');
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;
}

.homeColumn {
    background-color: #333333;
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.homeColumn a {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#homeColumnRow {
    height: calc(100vh - 71.5px);
}


.homeColumnImage {
    background-size: cover;
    background-position: center;
    height: 130px;
    width: 130px;
}

.homeColumnText {
    color: white;
}

#homeSearchIcon {
    background-image: url("../src/imgs/searchIconWhite.png");
}

#homeCollaborationIcon {
    background-image: url("../src/imgs/collaborationIcon.png");
}

#homeUploadTrackIcon {
    background-image: url("../src/imgs/uploadTrackIcon.png")
}

.listItemDiv {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.individualListItem {
    text-align: center;
    width: 100%;
    height: 150px;
}

.pageTitle {
    margin-bottom: 10px;
    text-align: center;
}

.mainBodyBackground {
    background-color: #333333;
}

.pageListUlDiv {
    display: flex;
    justify-content: space-between;
}




